.hero-image {
  width: 20rem;
  z-index: 2;
}
.hero-h1 {
  align-self: center;
}
.flex-row-between {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.Homepage {
  justify-content: center;
}
.space {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  /* background: lightgray; */
}

.earth {
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(var(--turkiz), var(--purple));
  border: 1px solid var(--turkiz);
  border-radius: 50%;
  animation: animate-earth 3s linear infinite;
}

.moon {
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  background: linear-gradient(gray, white);
  border: 1px solid gray;
  border-radius: 50%;
  animation: animate-moon 3s linear infinite;
}
.welcome-title {
  font-size: 5rem;
  transition: all ease-in 0s;
}
.q-img {
  width: 5rem;
  transform: translate(0.6rem, 1.3rem);
}
.shift {
  display: contents;
  font-family: "Roboto", sans-serif;
}

@keyframes animate-earth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-moon {
  0% {
    transform: rotate(0deg) translate(55px);
  }
  100% {
    transform: rotate(360deg) translate(55px);
  }
}
@media (max-width: 800px) {
  .welcome-title {
    font-size: 3rem;
  }
  .shift {
    display: inline-block;
  }
  .animation-title-container {
    flex-direction: column;
  }
  .Homepage {
    justify-content: space-between;
    margin-top: 6rem;
  }
}
