.App {
  min-height: 100vh;
}

input,
textarea,
select {
  outline: none;
  background-color: var(--bg-gray);
  border: none;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.split-component {
  display: flex;
}

.page-container {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bg-purple);
  min-height: 92vh;
}
.flex-row {
  display: flex;
  justify-content: center;
}
.primary-box {
  border: 1px solid var(--turkiz);
  border-radius: 5px;
  /* width: 70%; */
  padding: 2rem;
  text-align: center;
  margin: 2rem;
}
.align-left {
  text-align: left;
}
button {
  background-color: transparent;
  border: 1px solid var(--turkiz);
  outline: none;
  cursor: pointer;
}
