.App {
  min-height: 100vh;
}

input,
textarea,
select {
  outline: none;
  background-color: var(--bg-gray);
  border: none;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.split-component {
  display: flex;
}

.page-container {
  width: 100%;
  flex-grow: 1;
  background-color: var(--bg-purple);
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.flex-row {
  display: flex;
  justify-content: space-around;
}
.primary-box {
  border: 1px solid var(--turkiz);
  border-radius: 5px;
  width: 70%;
  padding: 2rem;
  text-align: center;
  margin: 2rem;
  background: linear-gradient(rgb(61, 47, 99), 1rem, transparent);
}
.align-left {
  text-align: left;
}
button {
  background-color: transparent;
  border: 1px solid var(--turkiz);
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.input-container {
  border: 1px gray solid;
  border-width: 0 0 1px 0;
}
.turkiz-underline {
  border: 1px solid var(--turkiz);
  border-width: 0 0 1px 0;
}
.purple-btn {
  background-color: var(--purple);
  border-radius: 5px;
  border: none !important;
}
.test {
  /* background-color: rgba(255, 255, 255, 0.5); z-index: 0; */
  position: fixed;
  top: 20%;
  left: 20%;
}
.test > img {
  width: 10rem;
  height: 10rem;
}
.blue-font {
  color: var(--primary-blue);
}
.turkiz-font {
  color: var(--turkiz);
}
