.App {
  min-height: 100vh;
}

input,
textarea,
select {
  outline: none;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.split-component {
  display: flex;
  justify-content: space-between;
}

.RoutesIndex {
  background-color: antiquewhite;
  flex-grow: 1;
}
.Chat {
  width: 30vw;
  height: 90vh;
}
.page-container {
  flex-grow: 1;
}
