@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --bg-purple: rgba(18, 5, 53, 1);
  --turkiz: rgba(0, 205, 180, 1);
  --primary-blue: rgba(30, 141, 148, 1);
  --bg-gray: rgb(190, 190, 190);
  --purple: rgb(134, 85, 255);
  --black: rgb(44, 44, 44);
  color: whitesmoke;
}
