.new-snippet-form {
  width: 90%;
  gap: 1rem;
}
.new-title-input,
.new-description-input {
  width: 100%;
  background-color: whitesmoke !important;
  padding-left: 0.5rem !important;
}

.new-snippet-form * input {
  padding: 0.5rem;
  color: var(--black);
  font-size: large;
}

.new-snippet-form * textarea {
  padding-top: 0.6rem;
  font-size: 16px;
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  line-height: 1.65rem;
}
