.ai-response-box {
  height: 70vh;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
}
.ai-form {
  width: 70%;
}
.ai-input {
  flex-grow: 1;
}
.user {
  color: var(--primary-blue);
}
