.ai-response-box {
  height: 65vh;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
}
.ai-form {
  width: 70%;
  background-color: whitesmoke;
  border-radius: 5px;
}
.ai-input {
  flex-grow: 1;
  color: var(--black);
  padding-left: 0.5rem;
  z-index: 3;
}
.user {
  color: var(--primary-blue);
}
.send-msg-ai {
  border-radius: 0 5px 5px 0 !important;
  padding: 0.5rem !important;
}
/* @media (max-width: 800px) {
 
} */
