.form-search-box {
  z-index: 3;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid var(--turkiz);
  /* width: 80%; */
}
.form-search-box select,
.form-search-box input {
  color: whitesmoke !important;
  background-color: transparent;
}
.form-search-box:hover {
  outline: 1px solid rgb(4, 186, 164);
  /* cursor: pointer; */
}
.form-search-box select {
  cursor: pointer;
  padding-right: 0.5rem;
  /* appearance: none; */
}
