.stat-h4 {
  display: inline-block;
  margin: 2rem;
}
.user-profile-image {
  width: 5rem;
  /* height:  5rem; */
  border-radius: 5px;
}
.edit-profile-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--turkiz);
  padding: 0.5rem;
}
.edit-profile-container :hover {
  cursor: pointer;
}
.profile-info-form {
  position: relative;
  width: 70%;
}
.profile-info-form * input {
  flex-grow: 1;
  background-color: transparent !important;
  margin-left: 0.5rem;
}
.edit-input {
  border: 1px solid gray;
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin: 0 1rem;
}
.profile-info-form * p {
  display: flex;
}
.info-container {
  margin-bottom: 1rem;
}
.upload-input {
  display: none;
}
.upload-icon {
  width: 2rem;
  height: 2rem;
  z-index: 5;
  cursor: pointer;
  transform: translate(-70%, 50%);
}
.react-tooltip-lite {
  background: #333;
  color: white;
  border-radius: 5px;
  font-size: smaller;
}

.react-tooltip-lite-arrow {
  border-color: #333;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  border-right: 2px solid #333;
}
@media (max-width: 600px) {
  .info-container {
    flex-direction: column !important;
  }
  .user-statistics-container {
    flex-direction: column;
  }
  .profile-info-form {
    padding: 0.3rem;
    width: 90%;
  }
}
