.stat-h4 {
  display: inline-block;
  margin: 2rem;
}
.user-profile-image {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
}
.edit-profile-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--turkiz);
  padding: 0.5rem;
}
.edit-profile-container :hover {
  cursor: pointer;
}
.profile-info-form {
  position: relative;
}
.profile-info-form * input {
  flex-grow: 1;
  background-color: transparent !important;
}
.edit-input {
  border: 1px solid gray;
  border-width: 0 0 1px 0;
}
.profile-info-form * p {
  display: flex;
}
/* .info-container {
  /* justify-content: flex-start; */
/* width: 100%; */
/* }  */
