.login-card {
  border-radius: 20px;
  padding: 2rem 1rem;
  gap: 1rem;
  width: 60%;
  position: relative;
  overflow: hidden;
}
/* .login-card::after {
  content: "";
  background: url("../../../public/assets/Ellipse1.png") center center/cover !important;
  z-index: 4;
  top: -10%;
  left: 0;
  position: absolute;
  width: 10rem;
  height: 10rem;
} */
.login-card h3 {
  margin-bottom: 2rem;
}

.login-card button {
  padding: 0.5rem 2rem;
}
.login-card input {
  width: 90%;
  padding: 0.5rem 0;
  background-color: transparent !important;
}
.login-card button:hover {
  /* background-color: rgb(211, 61, 56); */
  font-weight: 400;
  outline: 1px solid var(--turkiz);
}
